<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->
<link rel="icon" type="image/png" href="{{site.baseurl | prepend: site.url}}assets/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="{{site.baseurl | prepend: site.url}}assets/favicon.svg" />
<link rel="shortcut icon" href="{{site.baseurl | prepend: site.url}}assets/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="{{site.baseurl | prepend: site.url}}assets/apple-touch-icon.png" />
<link rel="manifest" href="{{site.baseurl | prepend: site.url}}assets/site.webmanifest" />
<!-- end custom head snippets -->